@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container" style="padding-left:20%; padding-top:10%;">
    <div class="row">
        <h1 class="text-success" style="font-size:80px;">Portföy Yönetim Paneli</h1>
    </div>
</div>

